@import "~@blueprintjs/core/lib/scss/variables";

body {
  background-color: #293742;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
